<div class="container ">
  <h1>Teams</h1>
  <div class=" d-flex justify-content-end mb-2">
    <%= link_to 'Create your own Team!', new_team_path, class: "btn btn-primary" %>
  </div>
  <ul class="list-group">
    <% @teams.each do |team| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between mb-2">
          <h5><%= link_to team.name, team_path(team), class: "link-dark" %></h5>
          <% if user_signed_in? && current_user.teams.include?(team) %>
            <%= button_to "Leave", leave_team_path(team), method: :delete, class: "btn btn-secondary" %>
          <% else %>
            <%= button_to "Join", join_team_path(team), method: :post, class: "btn btn-primary" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
