<div class="container">
  <h1> Edit task </h1>
  <%= render 'form', task: @task %>
  <%= link_to 'Destroy', board_state_task_path(@board, @state, @task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger' %>
</div>