<div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span><%= state.name %></span>
    <%= link_to  edit_board_state_path(@board, state), class: "link-dark" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
      </svg>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <% state.tasks.each do |task| %>
      <li class="list-group-item">
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>
  <div class="card-footer p-2">
    <%= link_to new_board_state_task_path(@board, state), method: :post, class: "btn bg-transparent rounded-pill" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
      <span class="ml-1">Añade una tarjeta</span>
    <% end %>
  </div>
</div>
