<div class="container mt-5">
  <div class="jumbotron bg-light border">
    <h1 class="display-4">Welcome to Boards Manager!</h1>
    <p class="lead">Manage your tasks efficiently and visually just like Trello.</p>
    <hr class="my-4">
    <p>Click below to view your boards or create a new one.</p>
    <div class="btn-group" role="group" aria-label="Board Actions">
      <%= link_to 'View Boards', boards_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Create New Board', new_board_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
