<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">
      <%= @board.name %>
    </a>
    <%= link_to edit_board_path(@board), class: 'link-dark' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
      </svg>
    <% end %>
  </div>
</nav>
<div class="row">
  <% @board_states.each do |state| %>
    <div class="col">
      <%= render 'states/state', state: state %>
    </div>
  <% end %>
  <div class="col">
    <%= link_to 'add state', new_board_state_path(@board), method: :post, class: 'btn btn-light' %>
  </div>
</div>