<h1><%= @board.name %></h1>
<p><%= @board.description %></p>
<div class="row">
  <% @board.states.each do |state| %>
    <div class="col">
      <%= render 'states/state', state: state %>
    </div>
  <% end %>
