<div class="container h-50">
  <h3>Boards</h3>
  <div class="mt-5 row gap-2 h-50">
    <div class="col">
      <%= link_to "Create new board", new_board_path, class: 'd-flex justify-content-center card btn bg-transparent h-100 text-center' %>
    </div>
    <% @boards.each do |board| %>
      <div class="col">
        <%= link_to board.name, board_path(board), class: "d-flex justify-content-center card btn bg-transparent h-100"%>
      </div>
    <% end %>
  </div>
</div>
